.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 100px;
    padding: 50px;
    line-height: 150%;
    font-size: 20px;
    text-align: left;
}
