<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>serving static file</title>
</head>

<body>
    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit libero iure voluptatibus facere deserunt
            fuga sed ad ipsum, ex reiciendis?...</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos alias similique numquam eos! Veritatis
            neque, odio alias labore ipsum ex reprehenderit. Optio libero, asperiores, ratione ducimus placeat,
            provident sit laborum eius ad blanditiis aperiam cupiditate. Eveniet sit assumenda nisi recusandae odit
            blanditiis cupiditate quae numquam repudiandae. Recusandae, obcaecati aliquid modi ut placeat dolor possimus
            sapiente repellat consectetur amet! Ratione temporibus sunt repudiandae. Similique ad eos molestias ipsa
            doloremque minima voluptate quaerat deserunt nihil blanditiis, unde architecto libero facere reiciendis
            mollitia totam harum quam voluptatem laboriosam. Natus reiciendis odio, voluptate quas optio culpa iusto
            dolorum doloribus delectus pariatur, tempora neque eaque exercitationem. Rem ducimus quam quas minus ipsam
            minima, non exercitationem? Delectus id impedit iste! Assumenda, dolorum aut eos voluptatum rerum provident
            ad quibusdam. Numquam rem error quaerat, et saepe maxime. Impedit quis tenetur vero animi dolorem hic a cum
            suscipit nemo iste, aut itaque, eum dolores perspiciatis voluptate ut in? Atque reiciendis dignissimos animi
            laboriosam nemo? Ipsam pariatur provident sapiente numquam voluptate exercitationem at laborum! Numquam
            quaerat doloremque, iure perspiciatis molestias, nesciunt harum explicabo doloribus ratione earum provident
            accusamus voluptate distinctio. Veniam soluta optio officia magnam eaque, nam cupiditate hic. Quo pariatur
            sunt excepturi accusamus assumenda, veritatis quos eligendi voluptatem.</p>
    </div>
</body>

</html>